body,
h1 {
    margin: 0;
    padding: 0;

}

@media only screen and (max-width: 320px) {
    .evolution {
        width: 100%;
        min-height: 50vh;
        background-image: url(/responsive/image/1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    body {
        background-color: turquoise;
    }
    h1{
        font-size: 1.5rem;
    }

    h1::after {
        content: "😮";
    }
}

@media only screen and (min-width: 321px) {
    .evolution {
        width: 100%;
        min-height: 50vh;
        background-image: url(/responsive/image/2.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    body {
        background-color: greenyellow;
    }
    h1{
        font-size: 2.0rem;
    }

    h1::after {
        content: "🤔";
    }
}

@media only screen and (min-width: 425px) {
    .evolution {
        width: 100%;
        min-height: 50vh;
        background-image: url(/responsive/image/3.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    body {
        background-color: lightcoral;
    }

    h1{
        font-size: 2.5rem;
    }

    h1::after {
        content: "😑";
    }
}

@media only screen and (min-width: 768px) {
    .evolution {
        width: 100%;
        min-height: 50vh;
        background-image: url(/responsive/image/4.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    body {
        background-color: rosybrown;
    }

    h1{
        font-size: 3.0rem;
    }

    h1::after {
        content: "😣";
    }
}

@media only screen and (min-width: 1024px) {
    .evolution {
        width: 100%;
        min-height: 50vh;
        background-image: url(/responsive/image/5.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    body {
        background-color: seagreen;
    }

    h1{
        font-size: 3.5rem;
    }

    h1::after {
        content: "🥶";
    }
}

@media only screen and (min-width: 1300px) {
    .evolution {
        width: 100%;
        min-height: 50vh;
        background-image: url(/responsive/image/6.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    body {
        background-color: blueviolet;
    }

    h1{
        font-size: 4.0rem;
    }

    h1::after {
        content: "😚";
    }
}

.header-evolution {
    width: 100%;
}